﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Contact Book</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Contact Book", "Index", "Contacts", new { area = "" }, new { @class = "navbar-brand" })
            </div>
        </div>
    </div>
<div class="container body-content">
    <h4 class="text-success">
        @{

        object msg;
        if (TempData.TryGetValue("message", out msg))
        {
            @(msg as string);
            TempData.Remove("message");
        }
    }

</h4>
    @RenderBody()
    <hr/>
    <footer>
        <p>&copy; @DateTime.Now.Year Contack Book</p>
    </footer>
</div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryval")
    @RenderSection("scripts", required: false)
</body>
</html>
